{
    dark-primary-color: #616161;
    default-primary-color: #9E9E9E;
    light-primary-color: #F5F5F5;
    text-primary-color: #212121;
    accent-color: #607D8B;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;
}

#button {
    -fx-font-size: 12px;
    -fx-padding: 8;
    -fx-pref-height: 30;
    -fx-pref-width: 70;
}

#textField {
    -fx-font-size: 16px;
    -fx-pref-height: 28;
}

.root {
    -fx-background-color: default-primary-color;
}

#anchor {
    -fx-background-color: default-primary-color;
}

#rectangle {
    -fx-fill: default-primary-color;
    -fx-stroke-line-cap: round;
    -fx-stroke-type: outside;
}

#textLabel {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#textFieldLabel {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}



