
{
    dark-primary-color: #616161;
    default-primary-color: #9E9E9E;
    light-primary-color: #F5F5F5;
    text-primary-color: #212121;
    accent-color: #607D8B;
    primary-text-color: #212121;
    secondary-text-color: #757575;
    divider-color: #BDBDBD;
}

.button {
    -fx-font-size: 12px;
    -fx-padding: 5;
}

.root {
    -fx-background-color: default-primary-color;
}

.rectangle {
    -fx-fill: default-primary-color;
}

.text-field {
    -fx-font-size: 14px;
}

.table-view {
    -fx-text-alignment: center;
}


